<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

.centralizar{
    flex-direction: column;
    display: flex;
    align-items: center ;
    gap: 15px;
}

</style>
<body>
    <h1 class="centralizar">Tela de login</h1>

    <form action="/login" method="POST" class="centralizar">
    <input type="text" name="nome" placeholder="Digite o sue user">
    <input type="text" name="senha" placeholder="Digite sua senha">
    <input type="submit" name="mandar" value="mandar">
    </form>
</body>
</html>